.container {
  margin: 2rem;
}

.image {
  max-width: 20rem;
  max-height: 20rem;
}

.image-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.facts {
  font-size: 50%;
  opacity: 0.5;
}
